/* css styles */
/* Center all page titles */
h1.title {
  text-align: center;
}
h2.subtitle {
  text-align: center;
}

/* Navbar background and text color */
.navbar {
  background-color: purple !important;
}

.navbar a, .navbar-brand {
  color: white !important;
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}